@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";

body {
  overflow: hidden; /* Hide scrollbars */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-device-width: 640px) {
  .container {
    margin: 0 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

p {
  margin-bottom: 1rem;
}

div.container a {
  color: rgba(56, 161, 105);
}

::-webkit-scrollbar {
  display: none;
}
