<article class="overflow-hidden" ...attributes>

  <span aria-describedby="snotdriana-tooltip" id="snotdriana" class="glossary-term snotdriana">Snotdriana</span>

  <section class="
    prose
    overflow-auto h-full" 
    {{glossarize this.htmlProfile}}
    >
    {{this.htmlProfile}}
    <Glossary />
  </section>
</article>
