<article class="overflow-hidden" ...attributes>

  <button aria-describedby="snotdriana-tooltip" id="snotdriana" class="snotdriana">Snotdriana</button>

  <section class="
    prose
    overflow-auto h-full" 
    {{glossarize}}
    >
    {{this.htmlProfile}}
    <Glossary />
  </section>
</article>
