<div class="persons-li-content flex flex-row justify-between text-sm pt-1 pb-0.5 rounded-sm px-2 hover:underline truncate" ...attributes>
  <LinkTo @route="index.person" @model={{@person.personSlug}} class="truncate">
      <p
        class="truncate"
        {{on "click" @setActivePerson}} role="button">
        {{@person.name}}
      </p>
  </LinkTo>
  {{yield}}
</div>

