<p>
  <span class="glossary-term">Glossary Term</span>
</p>
<p>
  <span class="adriana">Tooltip</span>
</p>
<p>
  <span class="boogie adriana">Boogieltip</span>
</p>
<p>
  <span class="glossary-term">Glossary Term</span>
</p>
<article class="overflow-hidden" ...attributes>
    <section class="overflow-auto h-full" 
      {{glossarize @profile}}
      >
      <p>Loading information…</p>
    </section>
</article>
<Glossary />
