<div
 class="w-full bg-slate-50 shadow-md pl-3 py-4
   leading-tight
   relative
   flex flex-col
   max-h-[50vh]
   "
   {{stop-modal}}
   >
  <header class="flex flex-row items-start
  pr-3
  ">
    <h2 class="flex-grow text-3xl pb-4">
      {{this.person.displayName}}
    </h2>
    <button type="button" {{on "click" this.goBack}}>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
        <line x1="18" y1="6" x2="6" y2="18">
      </line>
      <line x1="6" y1="6" x2="18" y2="18">
      </line>
      </svg>
    </button>
  </header>
    <Information::PersonCardProfile @profile={{this.person.profile}}
    />
</div>
