<article class="overflow-hidden" ...attributes>
  <section class="
    prose
    overflow-auto h-full" 
    {{glossarize this.htmlProfile}}
    >
    {{this.htmlProfile}}
    <Glossary />
  </section>
</article>
