<article class="overflow-hidden" ...attributes>
  <section class="
    prose
    pr-2
    overflow-auto h-full" 
    {{add-glossary-tooltips this.htmlProfile}}
    >
    {{this.htmlProfile}}
    <Thesaurus />
  </section>
</article>
