<li class={{if this.active "italic bg-black shadow-inner bg-opacity-10" "hover:bg-black hover:bg-opacity-10"}}
  data-person-id={{@person.personId}}
  ...attributes
>
  <Information::PersonsListItemContent @person={{@person}} @setActivePerson={{this.setActivePerson}} />
</li>
