<button {{on "click" this.sort}}
  class="rounded-sm
    px-2 pb-0.5
    w-16 md:w-full
    text-sm text-left
    {{if this.isActive
      "shadow-inner bg-green-400 text-slate-50"
      "hover:bg-green-400"
    }}"
  type="button">
  {{yield}}
</button>
