<section id="visualization" class="bg-white w-3/4 hidden md:block"
  {{on-resize this.calculateSizes}}
>
  <CommunityTree::Svg 
    @data={{@data}} 
    @calculateSizes={{this.calculateSizes}}
    />
</section>
