<section id="visualization" class="bg-slate-50/90 flex-grow block
  w-screen md:w-full"
  {{on-resize this.calculateSizes}}
>
  <CommunityTree::Svg 
    @calculateSizes={{this.calculateSizes}}
    />
</section>
