<div>
  {{#each this.data.glossaryArray as |entry|}}
    <div class="glossary-tooltip
    bg-green-800 font-bold
    py-2 px-4
    rounded-lg
    text-slate-50
    shadow-lg
    hidden
    " id={{concat "glossary-definition-" entry.slug}} role="tooltip">
      {{entry.definition}}
      <div 
        id={{concat "glossary-definition-" entry.slug "-arrow"}} data-popper-arrow
        class="arrow"
      ></div>
    </div>
  {{/each}}
 </div>
