{{log this.annotations.glossary}}
<dl>
  {{#each this.annotations.glossary as |entry|}}
    <dt class="font-bold text-2xl">
      <a name="glossary-entry-{{entry.slug}}"
        class="bg-none hover:bg-none no-underline">
        {{capitalize entry.displayTerm}}
      </a>
    </dt>
    <dd>{{display-glossary-definition entry.definition}}</dd>
  {{/each}}
</dl>

