<section id="information" class="bg-green-100/95
  w-full md:w-[42rem]
  flex flex-col
  p-3
  space-y-4
  overflow-hidden
  z-40
  h-full
  ">
  <Information::Header />
  {{yield}}
  <Information::PersonsList/>
</section>
