<article class="text-slate-700 w-full flex flex-col md:flex-row
  overflow-hidden
  "
  {{did-insert this.showModal}}
>
  <h1 class="sr-only">(Un)Silencing Slavery at Rose Hall Project</h1>

  <CommunityTreeContainer/>

  <Information>
    {{yield}}
  </Information>
</article>
