<p class="text-center">
  The<br />
  Purpose <br />
  of the<br />
  (Un)Silencing Slavery at Rose Hall Project<br />
  is to<br />
  respectfully and lovingly <br />
  remember <br />
  and<br />
  hold space<br />
  for the<br />
  enslaved Africans <br />
  and their <br />
  enslaved African-born and Caribbean-born descendants <br />
  who <br />
  lived and labored<br />
  at<br />
  Rose Hall Plantation <br />
  in<br />
  Jamaica.<br />
</p>
