  <nav class="bg-green-800 text-white">
    <ul class="flex flex-row">
      <li class="px-2 pt-2 font-title"><LinkTo @route="about">About</LinkTo></li>
      <li class="px-2 pt-2 font-title"><LinkTo @route="essay">Essay</LinkTo></li>
      <li class="px-2 pt-2 font-title"><LinkTo @route="credits">Credits</LinkTo></li>
      <li class="px-2 pt-2 font-title"><LinkTo @route="bibliography">Bibliography</LinkTo></li>
    </ul>
  </nav>
