<nav class="hidden md:block
  bg-green-800 text-white
  {{if @visible "absolute right-6 z-50 md:relative md:right-0 md:z-auto"}}
  w-1/2 md:w-full
  ">
  <ul class="flex flex-col md:flex-row md:h-full md:w-full">
    {{#each @navItems as |navBarItem|}}
      <NavBarItem @item={{navBarItem}} />
    {{/each}}
  </ul>
</nav>
