<div id="list-of-enslaved-persons">
  <h3>List of Enslaved Persons</h3>
  <ul>
    {{#each this.data as |person|}}
      <li>
        <PersonCard 
          @person={{person}} 
        />
      </li>
    {{/each}}
  </ul>
</div>
