<div id="list-of-enslaved-persons">
  <h3>List of Enslaved Persons</h3>
  <AnimatedContainer>
    <ul>
      {{#animated-each this.data use=this.transition as |person|}}
        <li>
          <PersonCard 
            @person={{person}} 
          />
        </li>
      {{/animated-each}}
    </ul>
  </AnimatedContainer>
</div>
