<article class="flex flex-row justify-center overflow-auto h-full py-4 px-8">
  <section
    class="
    bg-slate-50/80 md:bg-slate-50 
    prose
    prose-xl
    prose-h1:text-4xl
    prose-h2:text-3xl 
    prose-h3:text-2xl 
    prose-a:text-green-800 hover:prose-a:bg-green-100 
    "
    ...attributes
    {{stop-modal}}
  >
    <header class="w-full">
      <h1>
        {{yield to="header"}}
      </h1>
    </header>

    <section class="
    text-justify overflow-auto">
    {{yield to="content"}}
    </section>
  </section>
</article>
