@import url("https://fonts.googleapis.com/css2?family=Mirza&family=Hina+Mincho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-slide-enter,
.menu-slide-leave-to {
  @apply translate-x-full;
}

.menu-slide-enter-active,
.menu-slide-leave-active {
  @apply transition-all duration-500 ease-in-out;
}

.menu-slide-enter-to,
.menu-slide-leave {
  @apply translate-x-0;
}

g.person-petal > .highlighter {
  fill: #000000;
  opacity: 0;
}

g.person-petal > .highlighter.active {
  fill: #000000;
  opacity: 1;
}
