@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-slide-enter,
.menu-slide-leave-to {
  @apply translate-x-full;
}

.menu-slide-enter-active,
.menu-slide-leave-active {
  @apply transition-all duration-500 ease-in-out;
}

.menu-slide-enter-to,
.menu-slide-leave {
  @apply translate-x-0;
}

g.person-petal > .highlighter {
  fill: #000000;
  opacity: 0;
}

g.person-petal > .highlighter.active {
  fill: #000000;
  opacity: 1;
}

.textbox {
  @apply overflow-hidden p-8 md:p-12;
}

h2 {
  @apply text-2xl leading-7 pt-8 pb-1;
}

h3 {
  @apply text-xl;
}

p {
  @apply mb-4;
}

a {
  @apply bg-green-800;
}
