@import url("https://fonts.googleapis.com/css2?family=Lusitana&display=swap");

@font-face {
  font-family: "Junction";
  src: url("/assets/fonts/Junction-regular-webfont.eot");
  src: url("/assets/fonts/Junction-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Junction-regular-webfont.woff") format("woff"),
    url("/assets/fonts/Junction-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junction";
  src: url("/assets/fonts/Junction-bold-webfont.eot");
  src: url("/assets/fonts/Junction-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Junction-bold-webfont.woff") format("woff"),
    url("/assets/fonts/Junction-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@import "./ember-promise-modals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans h-full bg-slate-50;
}

html {
  @apply h-full;
}

g.person-petal > .highlighter {
  fill: #4d7a57;
  opacity: 0;
}

g.person-petal > .highlighter.active {
  fill: #4d7a57;
  opacity: 1;
}

text {
  fill: #334155;
}

line {
  stroke: #334155;
}

svg.feather-menu line {
  @apply stroke-slate-50;
}

nav a.active {
  @apply pointer-events-none bg-green-100 text-green-900;
}

.tooltip {
  @apply bg-green-800 text-sm py-2 px-4 rounded-lg text-slate-50 shadow-lg;
}

.thesaurus-tooltip {
  @apply w-3/4;
}

.tooltip[data-show] {
  display: block;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.tooltip[data-popper-placement^="top"] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^="left"] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^="right"] > .arrow {
  left: -4px;
}

.opacity-enter-active,
.opacity-leave-active {
  @apply transition-all duration-500 ease-in-out;
}

.opacity-enter,
.opacity-leave-to {
  @apply opacity-0;
}

.opacity-enter-to,
.opacity-leave {
  @apply opacity-100;
}

.csl-entry {
  @apply -indent-8 pl-8;
}
.flag-background {
  /* http://www.asiteaboutnothing.net/c_decode-url.html */
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20600%20244%22%3E%0A%20%20%3Crect%20fill%3D%22%234d7a57%22%20width%3D%22600%22%20height%3D%22244%22%2F%3E%0A%20%20%3Cpolygon%20fill%3D%22%23404040%22%20points%3D%22600%20244%20600%2056%20223%20244%20600%20244%22%2F%3E%0A%20%20%3Cpolygon%20fill%3D%22%23ddc55a%22%20points%3D%22488%200%200%20244%200%20244%20223%20244%20600%2056%20600%200%20488%200%22%2F%3E%0A%3C%2Fsvg%3E");
}

.flag-background-invert {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20600%20244%22%3E%0A%20%20%3Crect%20fill%3D%22%234d7a57%22%20width%3D%22600%22%20height%3D%22244%22%20transform%3D%22translate(600%20244)%20rotate(180)%22%2F%3E%0A%20%20%3Cpolygon%20fill%3D%22%23404040%22%20points%3D%220%200%200%20188%20376%200%200%200%22%2F%3E%0A%20%20%3Cpolygon%20fill%3D%22%23ddc55a%22%20points%3D%22112%20244%20600%200%20600%200%20376%200%200%20188%200%20244%20111.81%20244%22%2F%3E%0A%3C%2Fsvg%3E");
}
