<Text @hasToc={{true}}>
  <:header>About (Un)Silencing Slavery</:header>
  <:toc>
    <ul>
      <li>
        <a href="#navigating-the-website">Navigating the Website</a>
      </li>
      <li>
        <a href="#technical-details">Technical Details</a>
      </li>
      <li>
        <a href="#citation">Citation</a>
      </li>
    </ul>
  </:toc>
  <:content>

    <p class="first-letter:text-6xl first-letter:font-title first-letter:pr-0.5 first-letter:text-green-600"> The Rose Hall Great House in Jamaica is one of the country’s most
    visited historical attractions. Despite the opportunity to provide
    visitors with crucial, significant, and historical information about
    slavery and the enslaved persons who were forced to live and labor at that
    plantation, for several decades the Rose Hall Great House tours have
    centered on the myth of a white witch. Based on Herbert G. de Lisser’s
    fictional story of Annie Palmer, entitled <i>The White Witch of
    Rosehall</i> (1929), these mythical “ghost” tours have exploited fictional
    fantasies that circumvent and omit the historical realities of slavery at
    Rose Hall and in Jamaica in general. As of the launching of this website
    in August 2022, these tours remain one of several lucrative, for-profit,
    “attractions” for Rose Hall Developments, Ltd. (owned by the Rollins
    family of the United States). Other profitable businesses of the Rollins
    family include, but are not limited to, elaborate private weddings at the
    Rose Hall Great House and the creation of the White Witch Golf Course.
    <b>(Un)Silencing Slavery: Remembering the Enslaved at Rose Hall
    Plantation, Jamaica</b>, however, aims to re-center the lives of enslaved
    persons at Rose Hall Plantation by emphasizing the history of slavery and
    enslaved persons at that historical site. It is a companion piece to
    Jamaican-born and U.S.-based scholar <a
    href="https://barnard.edu/profiles/celia-e-naylor">Celia E. Naylor</a>’s
    2022 book entitled <a
    href="https://ugapress.org/book/9780820362151/unsilencing-slavery/"><i>(Un)Silencing
    Slavery: Telling Truths about Rose Hall Plantation, Jamaica</i></a>.  We
    have launched this website as part of Jamaica’s 60th Diamond Celebration
    of Independence (August 6, 1962–August 6, 2022) and the annual celebration
    of Emancipendence. In this spirit, the website also honors the countless
    freedom fighters over many centuries and generations in Jamaica.</p>

<p>This project has been constructed as a memorial, as a site of mourning and grieving, as a gesture of gratitude and appreciation, and as a catalyst for the ongoing recognition, exploration, and presentation of the enslaved persons of African descent at Rose Hall. This space is a dedicated space of remembrance for all those named and unnamed who heretofore have not been publicly acknowledged or memorialized. It was also conceived in recognition of, and resistance to, what continues to be silenced about them and the institution of slavery today. We hope this website will encourage others to carve out spaces, virtual and otherwise, for the necessary and continuous remembrance of enslaved Africans and their descendants throughout the African diaspora. </p>

<h2 id="navigating-the-website">Navigating the Website</h2>

<p> Based on Professor Naylor’s archival work at the <a
href="https://www.jard.gov.jm/">Jamaica Archives</a> in Spanish Town, Jamaica,
and the <a href="https://www.nationalarchives.gov.uk">National Archives</a> in
Kew, England, this website names and highlights specific information about the
208 enslaved persons at Rose Hall Plantation included in archival documents
penned in the period between 1817 and 1832—during the waning years of slavery
in Jamaica. We ask you to consider and imagine the communities they created at
Rose Hall, as well as the interactions and relationships they likely engendered
with free and enslaved persons at other plantations near and far.  </p>
 
<p>
Without any extant archival photographs of the 208 persons named here from this specific period, this website features a visual and virtual representation of the community/communities of enslaved persons at Rose Hall Plantation from 1817 to 1832. We sought to push the limits of visualization as a medium to learn where it could fail or succeed in representing the reductive and dehumanizing data we inherit from the archival records. Our particular data was collected and compiled from archival documents written between 1817 and 1832. The process of transferring the data into our main visualization, the flower of Rose Hall, involved many micro-decisions and careful consideration. The results are ambiguous: wholly escaping the violence of the datafication of lives is impossible. In the end, all we could achieve was the dignity of centering the enslaved persons, the softening of the sharp edges of traditional forms of visualization, and the careful, critical fabulation of individual narratives.
 </p>
 
<p>
Each petal of the flower of Rose Hall, the centerpiece of <b>(Un)Silencing Slavery: Remembering the Enslaved at Rose Hall Plantation, Jamaica</b>, represents an individual person at this plantation. Although living in bondage as individuals in countless forms, those enslaved at Rose Hall also experienced slavery in collective ways as part of a community, or communities, at Rose Hall, as well as with other enslaved and free persons of color abiding in other areas. By clicking on their individual names, you may read the profiles we have crafted to provide specific information about their individual and collective lived experiences gleaned from the archival records, as well as elements of the historical contexts of their lives. You may also review general, collated information from the dropdown menu by clicking on the “Sort” button ({{svg-jar "sort" class="mx-1 -mt-0.5 border rounded-sm inline fill-current" }}).
</p>
  
<p> The website <LinkTo @route="documents">includes copies of selected archival
documents</LinkTo> to provide some sense of the extant historical materials
available for future research for anyone interested in learning and writing
more about them. The National Archives of the United Kingdom in Kew, England,
permitted the inclusion of the triennial slave registers of Rose Hall from 1817
to 1832. Permission is still in process from the Jamaica Archives to include
selections from the Rose Hall Journal (housed only at the Jamaica Archives in
Spanish Town). However, the Jamaica Archives granted permission for the
inclusion of a few pages of the Rose Hall Journal in the <i>Unsilencing
Slavery</i> book itself. A <LinkTo @route="bibliography">selected
bibliography</LinkTo> for additional reading has been provided for your
perusal. For those whose ancestors are included here, we hope this information
will offer some assistance in your quest to learn more about them. We have also
constructed a <LinkTo @route="glossary">glossary</LinkTo> to elucidate what
sorts of events and categories were recorded. </p>

<p>Finally, some of <LinkTo @route="credits">us who worked to present you with this website</LinkTo> also wrote <LinkTo @route="reflections">reflections</LinkTo> on the nature of the project itself, on the value of pursuing public scholarship via digital tools, and on the specific resonances of working on such a project over the past three years.</p>

<h2 id="technical-details">Technical Details</h2>

<p>This website is built using the <a href="https://emberjs.com">Ember</a> JavaScript framework, with some additional external libraries (such as <a href="https://d3js.org">D3</a>) that enrich the user experience. The full code is <a href="https://github.com/un-silencing-slavery/website">available on GitHub</a>, and the website relies on a dataset to be deposited presently in Columbia University’s academic repository, Academic Commons. The site was rebuilt nearly from scratch starting in late 2020, a process documented in the Rose Hall Project livestream on Twitch, and <a href="https://youtube.com/playlist?list=PLn2mSnvztA5s7X84qAyMx910x5s4-hluY">collected on YouTube</a>. </p>

<p>The graphic design was developed in-house by the below cited scholars, but we have relied on the font <a href="https://www.theleagueofmoveabletype.com/junction">Junction</a>, designed by Caroline Hadilaksono and Tyler Finck, for the body text and <a href="https://cargocollective.com/anamegda/LUSITANA">Lusitana</a>, designed by Ana Megda, for the display text.</p>

<h2 id="citation">Citation</h2>

This website should be cited, using <a href="https://chicagomanualofstyle.org">Chicago format</a>, as:

<p class="-indent-8 pl-8">Naylor, Celia E., Kristen Akey, Madiha Zahrah Choksi, Alex Gil, Moacir P. de Sá Pereira, and Monique J. S. Williams. (Un)Silencing Slavery: Remembering the Enslaved at Rose Hall Plantation, Jamaica. August 6, 2022. http://rosehallproject.columbia.edu.</p>

<p class="text-right italic">— (Un)Silencing Slavery Digital Project Team</p>
  </:content>
</Text>
