<div class="container mx-auto overflow-auto">
<h2>About Page</h2>

<div>
<p>The Rose Hall plantation in Jamaica is one of the country's most visited historical attractions. Despite the opportunity to instruct visitors on the history of chattel slavery and the lives of those who were forced to live and work in the plantation, the tours center the legend of a White Witch. In the Rose Hall Project we aim to re-center the lives of the enslaved. The Project serves as a companion to Celia Naylor's book <em>(Un)Silencing Slavery: Centering the Lives of Enslaved Persons and Historicizing the Legend of the ‘White Witch’ at Rose Hall Plantation, Jamaica.</em> (2022)</p> 
    
<p>In our project, we sought to push the limits of visualization as a medium to learn where it could fail or succeed in representing the reductive and dehumanizing data we inherit from plantation records. Our data in particular comes from [[xxx]] and [[yyy]]. The process of transforming the data into our main visualization, the flower of Rose Hall, involved many micro-decisions and careful consideration. The results are ambiguous: wholly escaping the violence of the datafication of lives is impossible. In the end, all we could achieve was the dignity of centering and the softening of the sharp edges of traditional forms of visualization.</p>
</div>
</div>