<div class="overflow-auto md:overflow-hidden h-full md:h-screen md:flex md:flex-col w-screen">
  <Header/>
  <div class="w-screen relative overflow-auto md:overflow-hidden mt-9 md:mt-0 md:flex-grow">
    {{outlet}}
  </div>
  <Footer/>
</div>
<div class="-z-10 fixed top-0 right-0 h-screen flex flex-row">
  <div class="w-2 md:w-8 bg-rh-gold">&nbsp;</div>
  <div class="w-2 md:w-8 bg-rh-black">&nbsp;</div>
  <div class="w-2 md:w-8 bg-rh-red">&nbsp;</div>
</div>
<EpmModalContainer />
