<header>
  <h1>Rose Hall Project</h1>

  <nav>
    <ul>
      <li><LinkTo @route="about">About</LinkTo></li>
      <li><LinkTo @route="essay">Essay</LinkTo></li>
      <li><LinkTo @route="credits">Credits</LinkTo></li>
      <li><LinkTo @route="bibliography">Bibliography</LinkTo></li>
    </ul>
  </nav>
</header>

{{outlet}}


<footer>
  © 2020
</footer>
