<div class="flex flex-col w-screen h-screen">
  <header class="bg-green-600 w-full pt-4">
    <LinkTo @route="index">
      <span class="text-4xl font-title text-slate-50 px-2">Rose Hall Project</span>
    </LinkTo>
    <NavBar />
  </header>
  {{outlet}}
  <footer class="p-2 bg-green-600 text-slate-50 w-full">
    © 2020
  </footer>
</div>
