<div class="flex flex-col w-screen h-full md:h-screen relative">
  <Header class="mr-6"/>
  {{outlet}}
  <footer class="p-1 md:p-2 bg-green-600 text-slate-50 mr-6">
    <p class="text-xs md:text-base">© 2020</p>
  </footer>
  <div class="-z-10 absolute top-0 right-0 h-full flex flex-row">
    <div class="w-2 md:w-8 bg-rh-gold">&nbsp;</div>
    <div class="w-2 md:w-8 bg-rh-black">&nbsp;</div>
    <div class="w-2 md:w-8 bg-rh-red">&nbsp;</div>
  </div>
</div>
<EpmModalContainer />
