<Text>
  <:header>Credits</:header>
  <:toc>
    <ul>
      <li>
        <a class="no-underline" href="#celia-e-naylor">Celia E. Naylor</a>
      </li>
      <li>
        <a class="no-underline" href="#kristen-akey">Kristen Akey</a>
      </li>
      <li>
        <a class="no-underline" href="#madiha-zahrah-choksi">Madiha Zahrah Choksi</a>
      </li>
      <li>
        <a class="no-underline" href="#alex-gil">Alex Gil</a>
      </li>
      <li>
        <a class="no-underline" href="#moacir-p-de-sa-pereira">Moacir P. de Sá Pereira</a>
      </li>
      <li>
        <a class="no-underline" href="#monique-j-s-williams">Monique J. S. Williams</a>
      </li>
    </ul>
  </:toc>

  <:content>
    <p>Prof. Celia E. Naylor conceived of this project at the Barnard Digital Humanities Center's Summer Institute in 2019. Soon after, Madiha Choksi, Alex Gil, Moacir P. de Sá Pereira, and Kristen Akey began working on a prototype of the project with Prof. Naylor. In 2020, immediately after the lockdown in New York, Alex and Moacir chose the project to be the subject of the trial run of the Studio Remote. They built most of the project live on Fridays. The record of their work can be <a href="https://www.youtube.com/channel/UCLOUh6s8E2FYAVAsJg3lgoA/videos">found on YouTube</a>.</p>

    <h2 id="celia-e-naylor">Celia E. Naylor</h2>
    <p>
      Celia E. Naylor was born and nurtured in Kingston, Jamaica. She is currently a Full Professor in the Africana Studies and History departments at Barnard College, Columbia University. Professor Naylor earned her B.A. in Africana Studies (Summa Cum Laude) with a concentration in Women’s Studies from Cornell University, a M.A. in Afro-American Studies from UCLA, and a M.A. and Ph.D. in History from Duke University. At Barnard College, she teaches a number of courses including Introduction to African-American History; Introduction to the African Diaspora; Remembering Slavery: Critiquing Modern Representations of the Peculiar Institution; Black Feminism(s)/Womanism(s) and “Black Sexual Politics” in Contemporary U.S. Popular Culture; and “Tongues on Fire”: Caribbean Women’s Articulations of Fracture(s), Freedom(s), and Futurities.
    </p>
    <p>
      Her first monograph, entitled <i>African Cherokees in Indian Territory: From Chattel to Citizens</i>, was published by the University of North Carolina Press in May 2008 (John Hope Franklin Series in African American History and Culture). This book charts the experiences of enslaved and free Blacks in the Cherokee Nation from the Trail of Tears to Oklahoma’s entry into the Union in 1907. 
    </p>
    <p>
      Professor Naylor’s second monograph, which is inextricably connected to this project as a companion book to this website, is entitled <i>(Un)Silencing Slavery: Telling Truths about Rose Hall Plantation, Jamaica</i>, published in June 2022 by the University of Georgia Press (Gender and Slavery Series). It is co-published by the Center for the Study of Southern Culture at the University of Mississippi.
    </p>

    <h2 id="kristen-akey">Kristen Akey</h2>
    <p>Kristen Akey (she/her, BC ’20) works as a data analyst at a political tech company, helping build tools to increase voter participation and empower progressive candidates.</p>

    <h2 id="madiha-zahrah-choksi">Madiha Zahrah Choksi</h2>
    <p>Madiha is the Digital Learning and Emerging Technologies Specialist at Columbia University Libraries. Collaborating closely with faculty, Madiha works on curriculum development, integrating data-driven methods and computational thinking into course materials. She also supports digital project development and leads the emerging technologies programs including 3D printing and AR and VR.</p>

    <h2 id="alex-gil">Alex Gil</h2>
    <p>Alex is Senior Lecturer II and Associate Research Faculty of Digital Humanities in the Department of Spanish and Portuguese at Yale University, where he teaches introductory and advanced courses in digital humanities. During most of the project's construction phase, Alex was Digital Scholarship Librarian at Columbia University, where he used to collaborate with faculty, students and library colleagues in humanities research, pedagogy and knowledge production involving the use of advanced computation, digital media design, and network technologies. He was the lead coordinator for the <a href="https://studio.cul.columbia.edu/">Butler Library Studio</a> at Columbia University Libraries, a tech-light library space focused on digital scholarship and pedagogy, and now a broadcast, <a href="https://www.twitch.tv/culstudio">Studio Remote</a>. He is also one of the organizers and moderators of <a href="http://xpmethod.plaintext.in/">Columbia’s Group for Experimental Methods in the Humanities</a>, a trans-disciplinary research cluster focused on experimental humanities; one of the creators and main editors of <em><a href="http://archipelagosjournal.org/">archipelagos journal: a journal of Caribbean digital praxis</a></em>, and co-wrangler of its sister conference series, <a href="http://caribbeandigitalnyc.net/">The Caribbean Digital</a>. His research interests include Caribbean culture and history, with a focus on twentieth century poetry; digital humanities and technology design for different infrastructural and socio-economic environments; and, the the ownership and material extent of the cultural and scholarly record.</p>

    <h2 id="moacir-p-de-sa-pereira">Moacir P. de Sá Pereira</h2>
    <p><a href="http://moacir.com">Moacir</a> (he/him) is the Research Data Librarian at Columbia University Libraries.</p>

    <h2 id="monique-j-s-williams">Monique J. S. Williams</h2>
    <p>
      Monique Joan Sophia Williams is an Insights Strategist and Research Consultant with experience in the technology, telecommunications, education, finance and consumer goods industries. She partners with global companies to solve business problems and develop growth strategies using qualitative research methodology. She holds a BA in Political Science from Columbia University, where she studied Arabic in Jordan and democracy and constitutional engineering in Tunis and Istanbul. Being born and raised in Jamaica, she has both a personal and professional investment in the Caribbean. This progressed significantly in college where she enrolled in Spring 2017 in Professor Naylor’s colloquium — “Tongues on Fire”: Caribbean Women’s Articulations of Fracture(s), Freedom(s), and Futurities. Monique has been part of the Rose Hall project intermittently since 2017 as a research assistant and consultant to Professor Naylor, including working on aspects related to archival research, suggestions on the book proposal and manuscript, as well as developing content for the website.
    </p>
  </:content>
</Text>
