<Text>
    <h2>Credits</h2>

        <p>The Rose Hall Project was conceived by Prof. Celia Naylor at the Barnard Digital Humanities Center in the summer of 2018 as part of the [[name of grant]]. In 2019, Madiha Choksi, Alex Gil, Moacir P. de Sá Pereira and Kristen Akey began working on a prototype of the project with Prof. Celia Naylor. In 2020, immediately after the lockdown in New York, Alex and Moacir chose the project to be the subject of the trial run of the Studio Remote. They build most of the project live on Fridays. The record of their work can be found on YouTube.</p>

        <h3>Celia Naylor</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h3>Kristen Akey</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h3>Madiha Choksi</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h3>Alex Gil</h3>

        <p>Alex is the Digital Scholarship Librarian at Columbia University, where he collaborates with faculty, students and library colleagues in humanities research, pedagogy and knowledge production that involves the use of advanced computation, digital media design, and network technologies. He is the lead coordinator for the <a href="https://studio.cul.columbia.edu/">Butler Library Studio</a> at Columbia University Libraries, a tech-light library space focused on digital scholarship and pedagogy, and now a broadcast, <a href="https://www.twitch.tv/culstudio">Studio Remote</a>. He is also co-founder and moderator of <a href="http://xpmethod.plaintext.in/">Columbia’s Group for Experimental Methods in the Humanities</a>, a trans-disciplinary research cluster focused on experimental humanities; one of the creators and main editors of <em><a href="http://archipelagosjournal.org/">archipelagos journal: a journal of Caribbean digital praxis</a></em>, and co-wrangler of its sister conference series, <a href="http://caribbeandigitalnyc.net/">The Caribbean Digital</a>. His research interests include Caribbean culture and history, with a focus on twentieth century poetry; digital humanities and technology design for different infrastructural and socio-economic environments; and, the relations of power and material extent of the cultural and scholarly record.</p>

        <h3>Moacir P. de Sá Pereira</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</Text>
