<header>
  <h1>Rose Hall Project</h1>

  <nav>
    <ul>
      <li>Some link</li>
      <li>Some link</li>
      <li>Some link</li>
    </ul>
  </nav>
</header>
<main>
  <article>
    <section id="visualization">
      Visualization
    </section>
    <section id="information">
      Information
    </section>
  </article>
</main>

<footer>
  © 2020
</footer>
