<article class="w-full flex flex-row h-full flex-grow overflow-hidden">

<CommunityTree @data={{@model}} />

<section id="information" class="bg-green-100 md:w-1/4 overflow-auto">
  <PersonsList @model={{@model}} />
</section>

</article>
