<Text @hasToc={{true}}>
  <:header>Reflections</:header>
  {{!-- <:tocTitle>Essays</:tocTitle> --}}
  <:toc>
    <ul>
      <li>
        <a href="#journey-of-the-unsilencing-slavery-website">“Journey of the (Un)Silencing Slavery Website” <span class="text-sm">(Celia E. Naylor)</span></a>
      </li>
      <li>
        <a href="#unseeing">“(Un)Seeing beyond the single-use.” <span class="text-sm">(Alex Gil)</span></a>
      </li>
      <li>
        <a href="#community-in-quarantine">“Community in Quarantine” <span class="text-sm">(Moacir P. de Sá Pereira)</span></a>
      </li>
    </ul>
  </:toc>
  <:content>
  
<h2 id="journey-of-the-unsilencing-slavery-website" class="mb-1">Journey of the (Un)Silencing Slavery Website</h2>
<span class="block text-xl">Celia E. Naylor</span>

<p class="first-letter:text-6xl first-letter:font-title first-letter:pr-0.5 first-letter:text-green-600">Although the origin story of <a href="https://ugapress.org/book/9780820362151/unsilencing-slavery/"><i>Unsilencing Slavery</i></a> the book is included
in the book’s introduction, the idea for (Un)Silencing Slavery the website
emerged only as specific elements of the book began to take shape. The initial
seed for the website was planted in the fall of 2014 when colleague Professor
Kaiama Glover generously invited me to participate in the Digital Black
Atlantic/Digital Caribbean Working Group (funded by <a
href="https://www.socialdifference.columbia.edu/">Columbia’s Center for the
Study of Social Difference</a>). For most of those sessions during the
2014–2015 academic year, I understood limited parts of those conversations. I
often moved between confusion and ignorance, with only my excitement about the
discussions on conceptual frameworks and technological tools motivating me to
keep returning to those sessions.</p>

<p>The information gleaned from those discussions seeped for a couple of
years until I was ready to figure out funding for this website; it was
always clear to me that additional expertise would be necessary for the
“nuts and bolts” of this website, and funding would be part and parcel
of that equation. The guidance and encouragement from colleague
Professor Janet Jakobsen led to a grant from Barnard’s Committee on
Online and On-Campus Learning (COOL) in 2017; this grant provided the
seed funds for an idea that I still had not entirely developed yet. It
was a seed that would remain dormant for a couple of additional
years.</p>

<p>In 2019, again, as a result of the guidance of Janet Jakobsen, I
applied for, and was accepted as a fellow in, the <a
href="https://barnard.edu/dh-summer-institute-0"><u>inaugural year of
Barnard’s Digital Humanities Center’s Summer Institute</u></a>. It was
during that DHC Summer Institute in 2019 that I finally worked through
the purpose and contours of the website. In one of the first sessions of
the Institute, we were encouraged to create on paper some sense of our
respective Digital Humanities projects. I made a drawing, with different
colored markers, of what I believed had to be the central focus of the
website—a community tree of the enslaved persons at Rose Hall. I
envisioned this community with “rings” (concentric circles) of
generations. I wanted to present each individual person on this tree as
not only an individual but also part of an entire community/community
tree. I had no idea how this would be constructed for a website. I had
no understanding of what mathematical equations and programming codes
would be necessary. All I had was a vision for what would be the
centerpiece of the website, and I hoped 21st-century technology and
human imagination would allow for its creation.</p>

<div class="p-4 w-full bg-green-100 shadow-lg">
  <ResponsiveImage @src="/assets/images/community-tree.jpg" />
  <p class="mb-0 text-sm">Sketch of the “Community Tree” visualization made by Professor Celia E. Naylor in 2019.</p>
</div>

<p>In 2019 I could not have imagined how many different people and how
many different processes would be involved to bring this website to
fruition. I was, however, always clear that I would need significant
assistance from others to create it. Madiha Zahrah Choksi, one of the
organizers of the 2019 DHC Summer Institute, helped me to hone what I
had in mind and provided (with other DHC Summer Institute staff members
and that year’s cohort of fellows) some specific tools, applications,
and programs to consider. When the summer institute ended, Madiha
encouraged me to reach out to Alex Gil (who had been one of the
organizers of the Digital Caribbean Working Group) for further guidance
and technical support. He was one of the scholar-creatives who responded
positively to my request for assistance. From the very beginning, Alex
understood the significance of this project for me both personally and
professionally, and I have been grateful for his understanding of the
multiple, intersecting layers of this project.</p>

<p>After a couple of sessions with Alex, who always provided the big
picture and the small ones too, he asked Moacir P. de Sá Pereira if he
might be willing to work on this project as well. As I have mentioned to
Moacir before, in our first meeting together, it was his reassurance
that some version of what I had imagined for the website was, indeed,
possible that offered me hope about its creation. His affirmative
comments during that meeting changed everything for me, as at that time
I was beginning to think it was not going to be possible after all–at
least not in the way I had envisioned it. Throughout Moacir has been a
constant source of affirmation and creativity–imagining and implementing
the innumerable possibilities that he presented, explained, tweaked,
organized, rearranged, and more!</p>

<p>As both Alex and Moacir discuss in their own reflections, their
journey on this project has intersected with mine at different times
(especially before the COVID-19-related shutdown in early 2020 and after
the return to campus in 2021), and it has also been a separate process
during the “remote stageș” of the development of this website.
Fortunately, our meetings in 2019 had engendered a Rose Hall Project
“team.” The members of this creative team changed between 2019 and 2022;
however, the purpose of the team and the project remained consistent
throughout. Early on, I wanted to have a pedagogical element to this for
an undergraduate student. Kristen Akey joined the team during her final
undergraduate year at Barnard (2019–2020). Supervised by Moacir, she was
able to learn new programs, as well as the challenges associated with
the alignment of learning applications and the implementation of these
applications. The COVID-19 shutdown ended her participation in the
project, as the project moved to a remote process. Fortunately, Alex and
Moacir were able to continue working on this project jointly and
remotely, as well as to create another platform for using the project as
a teaching/learning tool for others (with folks who had no direct
connection to the project itself). This transpired via the <a
href="https://blogs.cul.columbia.edu/spotlights/2021/01/19/alex-gil-digital-scholarship-librarian-moacir-p-de-sa-pereira-research-data-librarian-studio-remote/">Libraries’
Studio Initiative</a>, beginning in the early stages of the
pandemic.</p>

<p>As Alex and Moacir worked through ALL of the programming, codes,
applications, and everything involved in the technological aspects of
the website, I focused on finishing the book, as well as thinking about
the narrative elements of the website, in particular the individualized
profiles of each of the 208 enslaved persons highlighted on the website.
When I started this process, I was teaching and also serving in a couple
of administrative positions, and I kept getting to it later and later
each night. I thought I would be the only person who could pull all of
the pieces together for these individual narratives. However,
fortunately, one person came to mind who could do it with me—Monique
Joan Sophia Williams. Monique had been an exemplary student in my
Africana Studies colloquium on Caribbean women in the spring of 2017.
She had been a part of the overall project early on. She had been
willing to read and comment on my book proposal, as well as to be a
research assistant on this project for the 2017–2018 academic year,
right after she graduated from Columbia University in the spring of
2017. That year she helped me to work through and organize the archival
documents that I had collected in the previous years in Jamaica and in
England.</p>

<p>Monique and I kept in touch over the years, and I pulled her back
into the project in March 2020 when I asked her to read and comment on a
draft of the book manuscript (which essentially then also entailed the
resumption of her research assistantship combined with a
consultantship). She generously offered insightful questions and
comments on the manuscript. Just when she thought her contributions to
the project were over, I asked her to help with information at the
National Land Office in Kingston in April 2020 (as COVID-19 restrictions
resulted in a cancelled trip to Jamaica that summer). I also asked her
during this time to reach out to the Jamaica Archives on my behalf to
see if she could continue the conversations with them, and we could move
forward with including the Rose Hall Journal (in parts or in its
entirety) on the website. This part remains in process. Monique’s final
(I think) contributions to the project have been assisting me with the
individual profiles of enslaved people for the website. I began working
on these profiles and figured out what I wanted to include both in terms
of specific information about each person, as well as some contextual
information about their positions, etc. It was important to me that the
names of enslaved persons be presented with some information regarding
their individual experiences–with some sense of their humanity. If it
had not been for Monique’s assistance with completing these profiles in
the summer of 2022, I would still be working on this.</p>

<p>I offer this information as just a small sense of the collaborative
journey of this website—from its beginning as a mere thought in 2014 to
being live in the summer of 2022. I want to take this opportunity again
to express my deep gratitude and sincere appreciation to and for
everyone who invested any time or energy on this project at all,
especially the members of the Rose Hall Digital Team–Madiha, Alex,
Moacir, Monique, and Kristen. This would not have been possible without
your individual and collective commitments to this project, your always
creative suggestions about a different way to present an idea, a nugget
of information, or an element of the website, your vast intellectual
contributions to the project, and your willingness to work on this with
me and all of us!</p>

<hr>

{{!-- Alex's reflection --}}

  <h2 id="unseeing" class="mb-1">(Un)Seeing beyond the single-use</h2>

  <p class="text-xl">Alex Gil</p>

<p>Data visualizations do much more than lying. They silence and hide as
much as they can unsilence or make evident; they can center, but also
displace; and in all this movement between shadows and light, they can’t
avoid evoking. Perhaps akin to the way that history books seem unable to
escape narrative forms, even in their most orderly and empirical
variety, visualizations cannot escape genres and tropes. Their meaning
is the debris spewed by the vortex of authorial intentions and plausible
receptions.</p>
<p>Taken for granted, mainstream forms of data visualization would like
you to believe that they are single-use end-products, and any reading of
them that goes beyond that single-use is gratuitous, excessive,
disorderly, and even rudely changing the subject. In this desire for
representation over interpretation,<a href="#fn1" class="footnote-ref no-underline"
id="fnref1" role="doc-noteref"><sup>1</sup></a> these graphics often
succeed and foreclose our ability to read otherwise. Notwithstanding, no
alibi or epistemological insistence can ever avoid the counter-gaze, the
otherwise. In “Xroads Praxis: Black Diasporic Technologies for Remaking
the New World,” to provide just one example, Jessica Marie Johnson
astutely reads blackness and whiteness in several black and white
visualizations of winds and currents as they wreak havoc or carry ships
across the Atlantic Ocean and the Caribbean Sea.<a href="#fn2"
class="footnote-ref no-underline" id="fnref2" role="doc-noteref"><sup>2</sup></a> How
can we not see these with her? From her vantage point—a
reversal of the white gaze which insists on the single-use value of these
graphical exercises—Johnson indicts the “ocularity, visuality,
illumination, and data collection” tied to the classification and
control of Black bodies, which nevertheless consistently fails to
represent Black life.</p>
<p>Once you see that modern forms of visualization cannot be divorced
from forms of visuality tied to the practice of slavery in the Americas,
you can’t unsee it. This is the power of interpretation beyond the
single-use. This unruly refraction poses a major challenge, though, to those of
us who would like to know how or if the genre of visualization can ever
aid us in the recovery and centering of Black life in our silenced
historical record. We decidedly join Johnson in the attempt to read the
“null value” in the historical record—perhaps one of the most important
scholarly challenges of our time, in the full sense of the word
challenge. Johnson provides a clear and useful definition of her usage
in <em>Wicked Flesh,</em><a href="#fn3" class="footnote-ref no-underline" id="fnref3"
role="doc-noteref"><sup>3</sup></a></p>
<blockquote>
<p>For colonial elites, if black women could not be used or possessed as
laboring, sordid, or lecherous subjects, they received little or no
mention— but black women did not disappear. Black women labored to
secure livelihoods and spaces of safety for themselves and their kin.
Their actions, desires, and priorities shaped the meaning of freedom and
transgressed administrative priorities. Instead of pausing at empirical
silence or accepting it at face value, surfacing silence in the
empirical, imperial archive as having a value— a null value— imbues
absence with disruption and possibility.</p>
</blockquote>
<p>The history of data visualization, as a source of plausible
interpretations for our <em>graphesis</em>, leaves much to be desired.
The ledgers from which our Rose Hall project data comes from are forms
of data representation, if not outright visualization. The straight pen
lines that create the columns and the rows where Black bodies are
counted and categorized are drawn with a schoolboy’s love of the ruler. 
The uneven relative height and width of the
columns and rows is somewhat hidden by the bureaucratic gravitas of the
calligraphy. Often taking several pages, these documents undeniably have
a graphical effect: bodies counted and ordered, forming an aggregate
that communicates wealth and power… and otherwise, violence,
dehumanization and death. The lives of the enslaved at Rose Hall recede
into the null value, and can only be recovered and honored with care and
a healthy dose of careful historical contextualization, interpolations
and even fabulation. As we point out in our About page, and expanded by
Celia’s monograph, the need for us to read into these null values is made
all the more urgent by the fact that Rose Hall has become yet another
plantation fantasy “destination,” and one in which a white woman of
legend is placed at the center for a white self that wants to escape the
banality of neo-capitalist life as well as their implication in the wake
of slavery—to have plantations without the crime against humanity.</p>
<p>Given this context, can data visualization join prose, poetry, art, music, film and dance
as a medium where Black lives can be honored, re-centered, un-silenced, or
seen with an otherwise gaze? This is the question that made me jump at
the opportunity to join the team. Celia’s original vision (above), already promised a fruitful journey, whether we would fail
or succeed. One thing was clear from the beginning, at least to me: In
order to have a worthy exercise we needed to move beyond the teleology
of the single-use and embrace the built-in vibration of the visual. Not
so clear, whether we could ever escape the violence of the source—a
testament to the reductive violence of data, when that’s most of what
the record kept or had to begin with.</p>
<p>To go beyond the teleology of the single, pre-determined use, of the
society of the “<em>objet fini</em>” (“the finished product”) as Ernesto
Oroza would call it,<a href="#fn4" class="footnote-ref no-underline" id="fnref4"
role="doc-noteref"><sup>4</sup></a> we are advised to look at the very materiality of
the object we are trying to build. In this case, we are talking about
the breakdown of visualizations into their raw materials: shapes, fonts,
colors, thickness, transparency, bytes, dependencies, storage, networks,
pop-up menus, sorting, buttons, etc. etc. Once you tumble the false idol
of the <em>objet fini</em>, you’re left with spare parts to be
re-assembled and repaired. This is exactly how we approached our
exercise: We stopped at almost every single new move, new addition, new
edit to the visualization, for the duration of two years, never assuming
that any part had to be used one way or the other.</p>
<p>The first half of these careful, snail-paced discussions about pixels
and where to place them was recorded on our Studio Remote: Rose Hall
Project broadcast. Every week, for almost a year, Moacir and I met
religiously for two hours to work on the project in order to sustain the
bonds of friendship during the early months of the pandemic, and
to be transparent about our labor. This transparency was particularly
important to me since I am a light-skinned mutt of European, Middle
eastern and African descendancy. I suspect our slow cooking was tied
also to our care not to screw this one up and inadvertently dishonor the
ancestors of our friends and neighbors, or worse, re-inscribe the
violence of data dehumanization. In these recorded sessions you will see
the texture of our discussions about meaning and evocation tied to
craftwork—the intense clash between desires and the resistance in the
materials. My favorite are the two months trying to remember college
trigonometry so we could turn wedges into petals.</p>
<p>The result is the Rose Hall flowers. Flowers of remembrance, which bloom anew with each
different view of the interface, with each reload. At the most basic level,
the flower is already a refusal of the sharp edges of social scientific
graphic conventions, leaning towards life and growth. 
Beyond breaking with convention, the flowers disavow the claimed innocence of single-use
representation, and step knowingly into un-seen evocation. Here’s a
simple example: The categories we use to re-arrange the view and sort
the names of the enslaved of Rose Hall come from the original tables.
Those tables did not predict that patterns of kinship and life could result from them. The null value speaks despite them. Once we sort by any of the available categories, the flower
holds on to other fragments, evoking relationships that the one-to-one
grid hides. Low and behold, matrilineal bonds and the bonds of shared
work start to come into focus.</p>
<p>As with all our similar projects, we never let visualizations stand
by themselves, and these reflections and the about page are meant to be
requisite companions. In this particular case, we have the abundance of
riches of Celia’s deep treatment in her new monograph. If you like what we did here, make sure to check it out! In addition, we knew early on that just the data, no matter how much we transformed it away from its original use, would not be enough. The flowers would lack the breath of life without Celia's and Monique's carefully crafted narratives for each of the 208 enslaved persons at Rose Hall. 

Despite our team's best efforts, and the good I see in the process and even the result, I’m not wholly satisfied yet that the instrument is adequate. Fitting, of course, that
I can’t see this as a finished project, an answered question. Instead,
I hope the sediment of our labor you see here becomes another point of departure for our
conversations about the null value, critical fabulation, reading against
the grain, Caribbean digital scholarship and Black data; but above all, that it becomes for you, as it did for us already, a site of care and respectful remembrance of those who were forced to toil and live at Rose Hall plantation.</p>
<p>Pa’lante.</p>
<section class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<br>
<small>Notes:</small>
<ol>
<li id="fn1"><small>This phenomenon is well studied in
Drucker, Johanna. <em>Graphesis: Visual Forms of Knowledge
Production</em>. MetaLABprojects. Cambridge, Massachusetts: Harvard
University Press, 2014.<a href="#fnref1" class="footnote-back no-underline"
role="doc-backlink">↩︎</a></small></li>
<li id="fn2"><small>Johnson, Jessica Marie. “Xroads
Praxis: Black Diasporic Technologies for Remaking the New World.” <em>Sx
Archipelagos</em>, no. 3 (July 9, 2019). <a
href="https://doi.org/10.7916/archipelagos-4fjd-k774"><u>https://doi.org/10.7916/archipelagos-4fjd-k774</u></a>.<a
href="#fnref2" class="footnote-back no-underline" role="doc-backlink">↩︎</a></small></li>
<li id="fn3"><small>Johnson, Jessica Marie. <em>Wicked
Flesh : Black Women, Intimacy, and Freedom in the Atlantic World</em>,
University of Pennsylvania Press, 2020.<a href="#fnref3"
class="footnote-back no-underline" role="doc-backlink">↩︎</a></small></li>
<li id="fn4"><small> Bozzi, Pénélope, and Ernesto Oroza. <em>Objets réinventés: la création populaire à Cuba</em>. Editions Alternatives, 2002.<a
href="#fnref4" class="footnote-back no-underline" role="doc-backlink">↩︎</a></small></li>
</ol>
</section>

<hr>

  <h2 id="community-in-quarantine" class="mb-1">Community in Quarantine</h2>
  <span class="text-xl">Moacir P. de Sá Pereira</span>

    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
</:content>
</Text>
