<Text @hasToc={{true}}>
  <:header>Reflections</:header>
  <:tocTitle>Essays</:tocTitle>
  <:toc>
    <ul>
      <li>
        <a href="#journey-of-the-unsilencing-slavery-website">“Journey of the (Un)Silencing Slavery Website” <span class="text-sm">(Celia E. Naylor)</span></a>
      </li>
      <li>
        <a href="#alex">“Alex is King” <span class="text-sm">(Alex Gil)</span></a>
      </li>
      <li>
        <a href="#community-in-quarantine">“Community in Quarantine” <span class="text-sm">(Moacir P. de Sá Pereira)</span></a>
      </li>
    </ul>
  </:toc>
  <:content>
  
<h2 id="journey-of-the-unsilencing-slavery-website" class="mb-1">Journey of the (Un)Silencing Slavery Website</h2>
<span class="block text-xl">Celia E. Naylor</span>

<p class="first-letter:text-6xl first-letter:font-title first-letter:pr-0.5 first-letter:text-green-600">Although the origin story of <a href="https://ugapress.org/book/9780820362151/unsilencing-slavery/"><i>Unsilencing Slavery</i></a> the book is included
in the book’s introduction, the idea for (Un)Silencing Slavery the website
emerged only as specific elements of the book began to take shape. The initial
seed for the website was planted in the fall of 2014 when colleague Professor
Kaiama Glover generously invited me to participate in the Digital Black
Atlantic/Digital Caribbean Working Group (funded by <a
href="https://www.socialdifference.columbia.edu/">Columbia’s Center for the
Study of Social Difference</a>). For most of those sessions during the
2014–2015 academic year, I understood limited parts of those conversations. I
often moved between confusion and ignorance, with only my excitement about the
discussions on conceptual frameworks and technological tools motivating me to
keep returning to those sessions.</p>

<p>The information gleaned from those discussions seeped for a couple of
years until I was ready to figure out funding for this website; it was
always clear to me that additional expertise would be necessary for the
“nuts and bolts” of this website, and funding would be part and parcel
of that equation. The guidance and encouragement from colleague
Professor Janet Jakobsen led to a grant from Barnard’s Committee on
Online and On-Campus Learning (COOL) in 2017; this grant provided the
seed funds for an idea that I still had not entirely developed yet. It
was a seed that would remain dormant for a couple of additional
years.</p>

<p>In 2019, again, as a result of the guidance of Janet Jakobsen, I
applied for, and was accepted as a fellow in, the <a
href="https://barnard.edu/dh-summer-institute-0"><u>inaugural year of
Barnard’s Digital Humanities Center’s Summer Institute</u></a>. It was
during that DHC Summer Institute in 2019 that I finally worked through
the purpose and contours of the website. In one of the first sessions of
the Institute, we were encouraged to create on paper some sense of our
respective Digital Humanities projects. I made a drawing, with different
colored markers, of what I believed had to be the central focus of the
website—a community tree of the enslaved persons at Rose Hall. I
envisioned this community with “rings” (concentric circles) of
generations. I wanted to present each individual person on this tree as
not only an individual but also part of an entire community/community
tree. I had no idea how this would be constructed for a website. I had
no understanding of what mathematical equations and programming codes
would be necessary. All I had was a vision for what would be the
centerpiece of the website, and I hoped 21st-century technology and
human imagination would allow for its creation.</p>

<div class="p-4 w-full bg-green-100 shadow-lg">
  <ResponsiveImage @src="/assets/images/community-tree.jpg" />
  <p class="mb-0 text-sm">Sketch of the “Community Tree” visualization made by Professor Celia E. Naylor in 2019.</p>
</div>

<p>In 2019 I could not have imagined how many different people and how
many different processes would be involved to bring this website to
fruition. I was, however, always clear that I would need significant
assistance from others to create it. Madiha Zahrah Choksi, one of the
organizers of the 2019 DHC Summer Institute, helped me to hone what I
had in mind and provided (with other DHC Summer Institute staff members
and that year’s cohort of fellows) some specific tools, applications,
and programs to consider. When the summer institute ended, Madiha
encouraged me to reach out to Alex Gil (who had been one of the
organizers of the Digital Caribbean Working Group) for further guidance
and technical support. He was one of the scholar-creatives who responded
positively to my request for assistance. From the very beginning, Alex
understood the significance of this project for me both personally and
professionally, and I have been grateful for his understanding of the
multiple, intersecting layers of this project.</p>

<p>After a couple of sessions with Alex, who always provided the big
picture and the small ones too, he asked Moacir P. de Sá Pereira if he
might be willing to work on this project as well. As I have mentioned to
Moacir before, in our first meeting together, it was his reassurance
that some version of what I had imagined for the website was, indeed,
possible that offered me hope about its creation. His affirmative
comments during that meeting changed everything for me, as at that time
I was beginning to think it was not going to be possible after all–at
least not in the way I had envisioned it. Throughout Moacir has been a
constant source of affirmation and creativity–imagining and implementing
the innumerable possibilities that he presented, explained, tweaked,
organized, rearranged, and more!</p>

<p>As both Alex and Moacir discuss in their own reflections, their
journey on this project has intersected with mine at different times
(especially before the COVID-19-related shutdown in early 2020 and after
the return to campus in 2021), and it has also been a separate process
during the “remote stageș” of the development of this website.
Fortunately, our meetings in 2019 had engendered a Rose Hall Project
“team.” The members of this creative team changed between 2019 and 2022;
however, the purpose of the team and the project remained consistent
throughout. Early on, I wanted to have a pedagogical element to this for
an undergraduate student. Kristen Akey joined the team during her final
undergraduate year at Barnard (2019–2020). Supervised by Moacir, she was
able to learn new programs, as well as the challenges associated with
the alignment of learning applications and the implementation of these
applications. The COVID-19 shutdown ended her participation in the
project, as the project moved to a remote process. Fortunately, Alex and
Moacir were able to continue working on this project jointly and
remotely, as well as to create another platform for using the project as
a teaching/learning tool for others (with folks who had no direct
connection to the project itself). This transpired via the <a
href="https://blogs.cul.columbia.edu/spotlights/2021/01/19/alex-gil-digital-scholarship-librarian-moacir-p-de-sa-pereira-research-data-librarian-studio-remote/">Libraries’
Studio Initiative</a>, beginning in the early stages of the
pandemic.</p>

<p>As Alex and Moacir worked through ALL of the programming, codes,
applications, and everything involved in the technological aspects of
the website, I focused on finishing the book, as well as thinking about
the narrative elements of the website, in particular the individualized
profiles of each of the 208 enslaved persons highlighted on the website.
When I started this process, I was teaching and also serving in a couple
of administrative positions, and I kept getting to it later and later
each night. I thought I would be the only person who could pull all of
the pieces together for these individual narratives. However,
fortunately, one person came to mind who could do it with me—Monique
Joan Sophia Williams. Monique had been an exemplary student in my
Africana Studies colloquium on Caribbean women in the spring of 2017.
She had been a part of the overall project early on. She had been
willing to read and comment on my book proposal, as well as to be a
research assistant on this project for the 2017–2018 academic year,
right after she graduated from Columbia University in the spring of
2017. That year she helped me to work through and organize the archival
documents that I had collected in the previous years in Jamaica and in
England.</p>

<p>Monique and I kept in touch over the years, and I pulled her back
into the project in March 2020 when I asked her to read and comment on a
draft of the book manuscript (which essentially then also entailed the
resumption of her research assistantship combined with a
consultantship). She generously offered insightful questions and
comments on the manuscript. Just when she thought her contributions to
the project were over, I asked her to help with information at the
National Land Office in Kingston in April 2020 (as COVID-19 restrictions
resulted in a cancelled trip to Jamaica that summer). I also asked her
during this time to reach out to the Jamaica Archives on my behalf to
see if she could continue the conversations with them, and we could move
forward with including the Rose Hall Journal (in parts or in its
entirety) on the website. This part remains in process. Monique’s final
(I think) contributions to the project have been assisting me with the
individual profiles of enslaved people for the website. I began working
on these profiles and figured out what I wanted to include both in terms
of specific information about each person, as well as some contextual
information about their positions, etc. It was important to me that the
names of enslaved persons be presented with some information regarding
their individual experiences–with some sense of their humanity. If it
had not been for Monique’s assistance with completing these profiles in
the summer of 2022, I would still be working on this.</p>

<p>I offer this information as just a small sense of the collaborative
journey of this website—from its beginning as a mere thought in 2014 to
being live in the summer of 2022. I want to take this opportunity again
to express my deep gratitude and sincere appreciation to and for
everyone who invested any time or energy on this project at all,
especially the members of the Rose Hall Digital Team–Madiha, Alex,
Moacir, Monique, and Kristen. This would not have been possible without
your individual and collective commitments to this project, your always
creative suggestions about a different way to present an idea, a nugget
of information, or an element of the website, your vast intellectual
contributions to the project, and your willingness to work on this with
me and all of us!</p>

  <h2 id="alex" class="mb-1">Alex is King</h2>
  <span class="text-xl">Alex Gil</span>

  <h2 id="community-in-quarantine" class="mb-1">Community in Quarantine</h2>
  <span class="text-xl">Moacir span. de Sá Pereira</span>

    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
</:content>
</Text>
